$border-radius: 12px;

.actionBar {
  background-color: #8080801c;
  padding: 8px 16px;
  border-radius: $border-radius;
  margin-bottom: 16px;
}

.categories {
  min-height: 160px;
  overflow: hidden;
  padding: 16px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.dragItem {
  // min-height: 120px;
  border-radius: 12px;
  padding: 16px;

  &.new,
  &.done,
  &.doing {
    border: 1px solid var(--border-color);
  }

  &.new {
    background-color: white;
  }

  &.done,
  &.doing {
    background-color: #ffffff54;
  }
}

.priority,
.doing,
.new,
.done {
  color: black;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
