@import 'tailwindcss';

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #49b8d8;
  --auth-input-bg-color: #ffffff52;
  --border-color: #8080805c;
  --status-done-bg-color: rgb(209 250 229 / 0.7);
  --status-priority-bg-color: rgb(255 228 230 / 0.7);
  --status-new-bg-color: #e5e7eb;
  --status-doing-bg-color: rgb(254 243 199 / 0.7);
  --tw-border-opacity: 1;
  --status-new-border-color: rgb(202 202 202 / var(--tw-border-opacity, 1));
  --status-priority-border-color: rgb(
    252 165 172 / var(--tw-border-opacity, 1)
  );
  --status-done-border-color: rgb(167 243 208 / var(--tw-border-opacity, 1));
  --status-doing-border-color: rgb(253 230 138 / var(--tw-border-opacity, 1));
}

html {
  font-size: 16px;
  font-family: 'SourceCodePro', monospace;
  background: #f2f2f2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: unset;
}

.done,
.new,
.doing,
.priority {
  border: 1px solid;
}

.done {
  background-color: var(--status-done-bg-color);
  border-color: var(--status-done-border-color);
}

.new {
  background-color: var(--status-new-bg-color);
  border-color: var(--status-new-border-color);
}

.priority {
  background-color: var(--status-priority-bg-color);
  border-color: var(--status-priority-border-color);
}

.doing {
  background-color: var(--status-doing-bg-color);
  border: 1px solid;
  border-color: var(--status-doing-border-color);
}

.recharts-wrapper :focus {
  outline: none;
}

.recharts-wrapper [tabindex] {
  outline: none;
}
