@import 'tailwindcss';

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #49b8d8;
  --auth-input-bg-color: #ffffff52;
  --border-color: #8080805c;
}

html {
  font-size: 16px;
  font-family: 'SourceCodePro', monospace;
  background: #f2f2f2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: unset;
}

.done,
.new,
.doing,
.priority {
  border: 1px solid;
}

.done {
  @apply bg-green-100 border-green-300 text-green-400;
}

.new {
  @apply bg-gray-100 border-gray-300 text-gray-400;
}

.priority {
  @apply bg-rose-100 border-rose-300 text-rose-400;
}

.doing {
  @apply bg-yellow-100 border-yellow-300 text-yellow-400;
}

.recharts-wrapper :focus {
  outline: none;
}

.recharts-wrapper [tabindex] {
  outline: none;
}
